* {
    margin: 0px;
    box-sizing: border-box;
}

section {
    background-image: url(image/background.jpg);
    background-color: #f1f1f1;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.first {
    background-color: #fff;
    height: 100vh;
}

.mag {
    margin-left: 0px;
    margin-right: 0px;
}

.second {
    color: white;
    text-align: center;
    padding-top: 200px;
    padding-left: 170px;
}

.days {
    display: inline-block;
}

.split {
    border: 3px solid rgba(255, 255, 255, 0.2) ;
    text-align: center;
    padding: 40px 40px;
    margin: 10px;
    border-radius: 100px;
    font-size: 25px;
    font-weight: bolder;
}

#co {
    font-size: 40px;
    font-weight: 900;
    margin-left: 80px;
    padding-top: 50px;

}

#our {
    font-size: 25px;
    margin-left: 80px;
    padding-top: 50px;

}

#bld {
    font-weight: bolder;
}

#folo {
    margin-top:-0.7em;
}

#rect {
    font-size: 14px;
    margin-left: 80px;
    margin-top: 50px;
    display: inline-block;

}

#rects {
    font-size: 14px;
    margin-left: 80px;
    margin-top: 10px;
    display: inline-block;

}

#subscribe {
    margin-left: 80px;
    color: #fff;
    width: 370px;
    padding: 10px 5px;
    background-color: rgb(74, 188, 74);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgb(74, 188, 74);

}

#subscribe:hover {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
}

#worry {
    margin-left: 80px;
    color: rgba(0, 0, 0, 0.437);
    font-size: 14px;
}

.connect {
    margin-left: 80px;
}

#face, #twit, #yout {
    border: 1px solid black;
    padding: 10px 10px;
    margin-right: 10px;
    border-radius: 50px;
    color: white;
}

#face {
    background-color: rgb(34, 34, 237);
}

#twit {
    background-color: rgb(14, 201, 253);
    border: 1px solid rgb(14, 201, 253);
}

#yout {
    background-color: red;
    border: 1px solid red;
}

.ooo {
    height: 50px;
    width: 370px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid rgba(153, 153, 153, 0.5);

}
.ooo::placeholder {
    font-size: 15px;
    font-weight: 700;
    color: #999999;
}
.ooo:active, .ooo:focus, .ooo:focus-visible {
    border-color: rgb(74, 188, 74) !important;
}
.ooo[type=text]:focus, .ooo[type=text]:focus-visible {
    border-color: rgb(74, 188, 74) !important;
}
.padding-left-0 {
    padding-left: 0px;
}
.padding-right-0 {
    padding-right: 0px;
}
/** media queries styling **/
@media screen and (max-width:480px) {
    #co, #our, #rect, #rects, #worry, #subscribe {
        margin-left: 30px;
    }

    #co {
        font-size: 40px;
    }

    

    .ooo {
        width: 160%;
    }

    #subscribe {
        max-width: 85%;
        margin-right: 10%;
    }

    #worry {
        font-size: 10px;
        margin-top: 30px;
    }

    .connect {
        margin-left: 30px;
        margin-top: 30px;
    }
    #co, #our {
       padding-top: 0px;
       margin-top: 20px;

    }
    #co {
        padding-top: 1.2em;
    }

    #rect {
        margin-top: 20px;
        font-size: 12px;
        width: 200px;
    }

    #rects {
        margin-top: -10px;
        font-size: 12px;
        display: block;
        width: 200px;
    }


    #subscribe {
        margin-top: -5px;
        height: 45px;
        padding: 0px;
        width: 322px;
    }

    .second {
        padding-left: 0px;
        color: #fff;
        padding-top: 10px;
    }

    .disp {
        display: flex;
        flex-direction: column-reverse;
    }

    .split {
        border: 3px solid rgba(255, 255, 255, 0.2) ;
        text-align: center;
        padding: 40px 40px;
        margin: 20px;
        border-radius: 100px;
        font-size: 20px;
        font-weight: bolder;
        margin-top: 0px;
    }
    
    .first {
        background-color: #fff;
        height: 100%;
        padding-bottom: 50px;
    }
    .ooo::placeholder {
        font-weight: 500;
    }
    .sm-mt-10 {
      margin-top: 10px;
    }
   

}

/** media queries styling **/
@media screen and (min-width:481px) and (max-width:900px) {
    #co, #our, #rect, #rects, #worry, #subscribe {
        margin-left: 30px;
    }

    .connect {
        margin-left: 30px;
        margin-top: 40px;
    }

    #co {
        font-size: 35px;
    }

    #worry {
        margin-top: 40px;
        font-size: 10px;
    }

    #our {
        font-size: 20px;
    }

    #rect {
        margin-top: 20px;
        font-size: 12px;
        width: 200px;
    }

    #rects {
        margin-top: -10px;
        font-size: 12px;
        display: block;
        width: 200px;
    }


    #subscribe {
        margin-top: -5px;
        height: 30px;
        vertical-align: middle;
        padding: 0px;
        width: 270px;
    }

    .ooo {
        width: 270px;
    }

    .first {
        margin-left: -20px;
    }

    /* .split {
        border: 3px solid rgba(255, 255, 255, 0.2) ;
        text-align: center;
        padding: 40px 40px;
        margin-top: 10px;
        margin-left: 10px;
        border-radius: 100px;
        font-size: 25px;
        font-weight: bolder;
    } */

    #tabs {
        position: absolute;
        top: 200px;
        left: 375px;
    }


}